@use '@angular/material' as mat;

/* Light Theme */
:root,
:host {
  @include mat.theme-overrides(
    (
      primary: #745b13,
      on-primary: #ffffff,
      primary-container: #ffdf96,
      on-primary-container: #251a00,
      inverse-primary: #e4c371,
      primary-fixed: #ffdf96,
      primary-fixed-dim: #e4c371,
      on-primary-fixed: #251a00,
      on-primary-fixed-variant: #594400,
      secondary: #6b5d3d,
      on-secondary: #ffffff,
      secondary-container: #f4e0b8,
      on-secondary-container: #241a02,
      secondary-fixed: #f4e0b8,
      secondary-fixed-dim: #d7c59d,
      on-secondary-fixed: #241a02,
      on-secondary-fixed-variant: #524527,
      tertiary: #51652a,
      on-tertiary: #ffffff,
      tertiary-container: #d3eca2,
      on-tertiary-container: #141f00,
      tertiary-fixed: #d3eca2,
      tertiary-fixed-dim: #b8cf88,
      on-tertiary-fixed: #141f00,
      on-tertiary-fixed-variant: #3a4d14,
      background: #fdf8f7,
      on-background: #1c1b1b,
      surface: #fdf8f7,
      surface-dim: #ddd9d7,
      surface-bright: #fdf8f7,
      surface-container-lowest: #ffffff,
      surface-container-low: #f7f3f1,
      surface-container: #f1edeb,
      surface-container-high: #ece7e6,
      surface-container-highest: #e6e2e0,
      on-surface: #1c1b1b,
      shadow: #000000,
      scrim: #000000,
      surface-tint: #625e56,
      inverse-surface: #31302f,
      inverse-on-surface: #f4f0ee,
      outline: #7c766e,
      outline-variant: #cdc5bb,
      neutral: #797675,
      neutral10: #1c1b1b,
      error: #ba1a1a,
      error-container: #ffdad6,
      on-error: #ffffff,
      on-error-container: #410002,
      surface-variant: #e9e1d6,
      on-surface-variant: #4b463e,
      neutral-variant: #7c766d,
      neutral-variant20: #343028,
      inverse-secondary: #d7c59d,
      inverse-tertiary: #b8cf88,
    )
  );
}

/* Dark Theme */
.dark {
  @include mat.theme-overrides(
    (
      primary: #e4c371,
      on-primary: #3e2e00,
      primary-container: #594400,
      on-primary-container: #ffdf96,
      inverse-primary: #745b13,
      primary-fixed: #ffdf96,
      primary-fixed-dim: #e4c371,
      on-primary-fixed: #251a00,
      on-primary-fixed-variant: #594400,
      secondary: #d7c59d,
      on-secondary: #3a2f13,
      secondary-container: #524527,
      on-secondary-container: #f4e0b8,
      secondary-fixed: #f4e0b8,
      secondary-fixed-dim: #d7c59d,
      on-secondary-fixed: #241a02,
      on-secondary-fixed-variant: #524527,
      tertiary: #b8cf88,
      on-tertiary: #243600,
      tertiary-container: #3a4d14,
      on-tertiary-container: #d3eca2,
      tertiary-fixed: #d3eca2,
      tertiary-fixed-dim: #b8cf88,
      on-tertiary-fixed: #141f00,
      on-tertiary-fixed-variant: #3a4d14,
      background: #141313,
      on-background: #e6e2e0,
      surface: #141313,
      surface-dim: #141313,
      surface-bright: #3a3938,
      surface-container-lowest: #0f0e0d,
      surface-container-low: #1c1b1b,
      surface-container: #201f1f,
      surface-container-high: #2b2a29,
      surface-container-highest: #363434,
      on-surface: #e6e2e0,
      shadow: #000000,
      scrim: #000000,
      surface-tint: #ccc6bc,
      inverse-surface: #e6e2e0,
      inverse-on-surface: #31302f,
      outline: #969087,
      outline-variant: #4b463e,
      neutral: #797675,
      neutral10: #1c1b1b,
      error: #ffb4ab,
      error-container: #93000a,
      on-error: #690005,
      on-error-container: #ffdad6,
      surface-variant: #4b463e,
      on-surface-variant: #cdc5bb,
      neutral-variant: #7c766d,
      neutral-variant20: #343028,
      inverse-secondary: #6b5d3d,
      inverse-tertiary: #51652a,
    )
  );
}

/* Typography */
:root,
:host {
  /* core typography tokens are not generating css variables, hence below */
  --mat-sys-brand-font-family: Quicksand;
  --mat-sys-plain-font-family: Montserrat;
  --mat-sys-bold-font-weight: 700;
  --mat-sys-medium-font-weight: 500;
  --mat-sys-regular-font-weight: 400;

  @include mat.theme-overrides(
    (
      brand-family: Quicksand,
      plain-family: Montserrat,
      bold-weight: 700,
      medium-weight: 500,
      regular-weight: 400,
      body-large-font: var(--mat-sys-plain-font-family),
      body-medium-font: var(--mat-sys-plain-font-family),
      body-small-font: var(--mat-sys-plain-font-family),
      label-large-font: var(--mat-sys-plain-font-family),
      label-medium-font: var(--mat-sys-plain-font-family),
      label-small-font: var(--mat-sys-plain-font-family),
      title-medium-font: var(--mat-sys-plain-font-family),
      title-small-font: var(--mat-sys-plain-font-family),
      body-large: var(--mat-sys-body-large-weight) var(--mat-sys-body-large-size) /
        var(--mat-sys-body-large-line-height) var(--mat-sys-body-large-font),
      body-medium: var(--mat-sys-body-medium-weight) var(--mat-sys-body-medium-size) /
        var(--mat-sys-body-medium-line-height) var(--mat-sys-body-medium-font),
      body-small: var(--mat-sys-body-small-weight) var(--mat-sys-body-small-size) /
        var(--mat-sys-body-small-line-height) var(--mat-sys-body-small-font),
      label-large: var(--mat-sys-label-large-weight) var(--mat-sys-label-large-size) /
        var(--mat-sys-label-large-line-height) var(--mat-sys-label-large-font),
      label-medium: var(--mat-sys-label-medium-weight) var(--mat-sys-label-medium-size) /
        var(--mat-sys-label-medium-line-height) var(--mat-sys-label-medium-font),
      label-small: var(--mat-sys-label-small-weight) var(--mat-sys-label-small-size) /
        var(--mat-sys-label-small-line-height) var(--mat-sys-label-small-font),
      title-large: var(--mat-sys-title-large-weight) var(--mat-sys-title-large-size) /
        var(--mat-sys-title-large-line-height) var(--mat-sys-title-large-font),
      title-medium: var(--mat-sys-title-medium-weight) var(--mat-sys-title-medium-size) /
        var(--mat-sys-title-medium-line-height) var(--mat-sys-title-medium-font),
      title-small: var(--mat-sys-title-small-weight) var(--mat-sys-title-small-size) /
        var(--mat-sys-title-small-line-height) var(--mat-sys-title-small-font),
      headline-large: var(--mat-sys-headline-large-weight) var(--mat-sys-headline-large-size) /
        var(--mat-sys-headline-large-line-height) var(--mat-sys-headline-large-font),
      headline-medium: var(--mat-sys-headline-medium-weight) var(--mat-sys-headline-medium-size) /
        var(--mat-sys-headline-medium-line-height) var(--mat-sys-headline-medium-font),
      headline-small: var(--mat-sys-headline-small-weight) var(--mat-sys-headline-small-size) /
        var(--mat-sys-headline-small-line-height) var(--mat-sys-headline-small-font),
      display-large: var(--mat-sys-display-large-weight) var(--mat-sys-display-large-size) /
        var(--mat-sys-display-large-line-height) var(--mat-sys-display-large-font),
      display-medium: var(--mat-sys-display-medium-weight) var(--mat-sys-display-medium-size) /
        var(--mat-sys-display-medium-line-height) var(--mat-sys-display-medium-font),
      display-small: var(--mat-sys-display-small-weight) var(--mat-sys-display-small-size) /
        var(--mat-sys-display-small-line-height) var(--mat-sys-display-small-font),
      headline-large-font: var(--mat-sys-brand-font-family),
      headline-medium-font: var(--mat-sys-brand-font-family),
      headline-small-font: var(--mat-sys-brand-font-family),
      display-large-font: var(--mat-sys-brand-font-family),
      display-medium-font: var(--mat-sys-brand-font-family),
      display-small-font: var(--mat-sys-brand-font-family),
      title-large-font: var(--mat-sys-brand-font-family),
    )
  );
}
