.landing-page,
.intro,
.full-height {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.landing-page {
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.full-height {
  height: 100vh;
  padding: 0 28px 0 28px;
}

h1 {
  font-size: 8em;
  margin-top: 0;
}

h3 {
  font-size: 1.5em;
}

p {
  font-size: 1.4em;
  font-weight: 300;
  margin: 0;
  margin-bottom: 20px;
}

.tinker {
  font-family: 'Vollkorn SC', serif;
}
