:root {
  --primary: #755b0b;
  --on-primary: #ffffff;
  --primary-container: #ffdf96;
  --on-primary-container: #251a00;
  --inverse-primary: #e4c371;
  --primary-fixed: #ffdf96;
  --primary-fixed-dim: #e4c371;
  --on-primary-fixed: #251a00;
  --on-primary-fixed-variant: #594400;

  --secondary: #6b5d3d;
  --on-secondary: #ffffff;
  --secondary-container: #f4e0b8;
  --on-secondary-container: #241a02;
  --secondary-fixed: #f4e0b8;
  --secondary-fixed-dim: #d7c59d;
  --on-secondary-fixed: #241a02;
  --on-secondary-fixed-variant: #524527;

  --tertiary: #a28f70;
  --on-tertiary: #ffffff;
  --tertiary-container: #d3eca2;
  --on-tertiary-container: #141f00;
  --tertiary-fixed: #d3eca2;
  --tertiary-fixed-dim: #b8cf88;
  --on-tertiary-fixed: #141f00;
  --on-tertiary-fixed-variant: #3a4d14;

  --background: #fdf8f7;
  --on-background: #1c1b1b;

  --surface: #fdf8f7;
  --surface-dim: #ddd9d7;
  --surface-bright: #fdf8f7;
  --surface-container-lowest: #ffffff;
  --surface-container-low: #f7f3f1;
  --surface-container: #f1edeb;
  --surface-container-high: #ece7e6;
  --surface-container-highest: #e6e2e0;
  --on-surface: #1c1b1b;

  --shadow: #000000;
  --scrim: #000000;
  --surface-tint: #625e56;

  --inverse-surface: #31302f;
  --inverse-on-surface: #f4f0ee;

  --outline: #7c766e;
  --outline-variant: #cdc5bb;

  --neutral: #797675;
  --neutral10: #1c1b1b;

  --error: #ba1a1a;
  --error-container: #ffdad6;
  --on-error: #ffffff;
  --on-error-container: #410002;

  --surface-variant: #e9e1d6;
  --on-surface-variant: #4b463e;

  --neutral-variant: #7c766d;
  --neutral-variant20: #343028;

  --inverse-secondary: #d7c59d;
  --inverse-tertiary: #b8cf88;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  font-family: inherit;
  background-color: var(--on-primary);
}

h1,
h2 {
  font-family: 'Vollkorn SC', serif;
  color: var(--primary);
  font-weight: 400;
  margin: 0;
}

h3,
h4,
h5 {
  font-family: 'Vollkorn', serif;
  color: var(--secondary);
  font-weight: 200;
  margin: 0;
}

p {
  color: var(--tertiary);
  word-spacing: 0.25px;
  text-align: right;
}
